.data-countries-table{
  width: 97%;
  margin-left: 10px;
  border-radius: 6px;
  min-height: 80vh;
  max-height: 80vh;
  overflow: auto;
  background-color: #fff;
}

.height-select-filter {
  height: 52px;
}