.ml-2 {
    margin-left: .5rem !important;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  /* banner */
  
  .banner-overview {
    /* margin-left: -98px; */
    height: 100vh;
    background: url(./../../assets/img/slider/slider-2-2.jpg);
    background-size: cover;
    width: 100%;
    z-index: -1;
  
    /* margin-top: -8px; */
    top: 0;
    left: 0px;
    background-position: center center;
    margin-top: -120px;
  }
  
  .overview-content {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  
    > div > span > svg {
      border-radius: 6px;
    }
  }