/* table data */

.data-province-table {
  width: 96.5%;
  margin-left: 10px;
  border-radius: 6px;
  max-height: calc(824px - 244px - 21px);
  overflow: auto;
  background-color: #fff;
}

.b-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  background-color: #fff;

  thead th {
    position: sticky;
    top: 0;
    background-color: #eeeeee;
    padding: 5px 0;
  }

  tbody tr td {
    padding: 8px;
    border-top: 1px solid #ddd;
  }
}