.bg-form-change-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    height: calc(100vh - 72.8px - 96.4px);
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.form-change-login-content {
    width: 280px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
}